<template>
  <div class="back">
    <div class="ellipse">
      <div class="innerellipse">
        <span class="text-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-2xl font-bold">
          {{firstTwoSeconds ? 'Loading...' : ('Number of players:' + game.number_of_players)}}
        </span>
      </div>
    </div>
    <div v-if="chattingOpened" class="h-screen w-[300px] bg-gray-300 float-right flex flex-col justify-end">
      <div v-for="message in messages" :key="message.writer" class="bg-white p-2">
        {{message.writer + ': ' + message.message.text}}
      </div>
      <form v-if="chattingEnabled" @submit="sendMessage($event)" class="flex p-1">
        <input type="text" name="msg" id="msg" placeholder="your message..." v-model="message" class="grow mr-2 p-2" />
        <button type="submit" class="bg-red-300 p-2">Send</button>
      </form>
    </div>
    <div class="p-5 text-white text-[32px] bg-red-400 w-fit">
      <player-item>
        <section v-for="(player, index) in players.users" :key="index">
          {{player.nickname + ' ' + (currentUserId === player.id ? '(You) ' : '') 
          + ((player.name && currentUserId === player.id ) || 
            (currentCharacter && player.name === currentCharacter && currentCharacter !== 'villager') 
            ? player.name : '')}}
        </section>
        <section v-for="(player, index) in players.guests" :key="index">
          guest_{{player.id + ' ' + (currentGuestId === player.id ? '(You) ' : '') 
          + ((player.name && currentGuestId === player.id ) || 
            (currentCharacter && player.name === currentCharacter && currentCharacter !== 'villager') 
            ? player.name : '')}}
        </section>
      </player-item>
    </div>
  </div>
  <!--  <section>-->
  <!--    <p>-->
  <!--      GAME PAGE-->
  <!--    </p>-->
  <!--  </section>-->
  <!--  CHOSE A PLAYER-->
  <!--  CHAT-->
</template>

<script>
import store from "../../store/index.js";

export default {
  props: ["name", "players", "typeOfRoom"],
  data() {
    return {
      players: {
        users: {},
        guests: {}
      },
      currentCharacter: '',
      message: ''
    };
  },
  methods: {
    sendMessage(e) {
      e.preventDefault();
      if (this.message) {
        const payload = {
          text: this.message,
          room_id: this.game.id,
          user_id: this.isAuthenticated ? this.currentUserId : null,
          guest_id: !this.isAuthenticated ? this.currentGuestId : null,
        }

        store.dispatch('writeMessage', payload).then(() => {
          this.message = '';
        });
      }
    }
  },
  computed: {
    game() {
      return store.getters.getGame;
    },
    players() {
      return store.getters.getPlayers;
    },
    currentUserId() {
      return store.getters.userId;
    },
    currentGuestId() {
      return store.getters.getGuestId;
    },
    firstTwoSeconds() {
      return store.getters.getFirstTwoSeconds;
    },
    chattingOpened() {
      return store.getters.getChattingOpen;
    },
    chattingEnabled() {
      return store.getters.getChattingEnabled;
    },
    isAuthenticated() {
      return store.getters.isAuthenticated;
    },
    messages() {
      return store.getters.messages;
    }
  },
  mounted() {
    store.dispatch("getRoom", 0).then((data) => {
      this.game = data.game;
      this.players = { ...data.guests, ...data.users };
      if (this.currentGuestId) {
        data.guests.map(element => {
          if (element.id === this.currentGuestId) this.currentCharacter = element.name;
        });
      }
      if (this.currentUserId) {
        data.users.map(element => {
          if (element.id === this.currentUserId) this.currentCharacter = element.name;
        });
      }

      store.dispatch("getMessages", this.game.id);
    });
  }
};
</script>

<style>
.back {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0px;

  background-image: url("../../assets/game_room/gameBG.jpeg");
}

.ellipse {
  position: absolute;
  width: 60%;
  height: 65%;
  left: 20%;
  top: 213px;

  background: #600303;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
.innerellipse {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;

  background: rgba(210, 9, 9, 0.24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
</style>